For now, it only serves to sample smaller dataset for easier inference+training (only proof of concept)

We already downsampled the Annotation dataset for $5%$, $10%$ and $1%$. We just need to propagate it to the questions.

In [6]:
import pandas as pd
import json

In [38]:
pct = 10

name_file = "annotations_sample_"+ str(pct)+ "pct" + ".json"

In [39]:
annotation_path = "v2_Annotations_Train/" + name_file

In [40]:
question_base_path = "v2_Questions_Train/questions.json"

In [41]:
with open(annotation_path, "r", encoding="utf-8") as f:
    annotation_json = json.load(f)

In [42]:
annotation_pd = pd.DataFrame(annotation_json)

In [43]:
question_id_tokeep = set(annotation_pd["question_id"].tolist())

In [44]:
with open(question_base_path, "r", encoding="utf-8") as f:
    question_json = json.load(f)

In [45]:
question_pd = pd.DataFrame(question_json["questions"])

In [46]:
questions_tokeep_pd = question_pd[question_pd["question_id"].isin(question_id_tokeep)]

In [47]:
questions_tokeep_pd.describe()

            image_id   question_id
count   44376.000000  4.437600e+04
mean   290911.760681  2.909118e+08
std    167870.859504  1.678709e+08
min        25.000000  2.500300e+04
25%    144345.000000  1.443450e+08
50%    292070.500000  2.920705e+08
75%    435357.000000  4.353570e+08
max    581904.000000  5.819040e+08

In [48]:
save_path = "v2_Questions_Train/questions_sample_" + str(pct) + "pct" + ".json"

questions_tokeep_pd.to_json(save_path, orient="records")

In [50]:
annotation_pd

,question_type,multiple_choice_answer,image_id,answer_type,question_id,answer_len
0,are,yes,137918,yes/no,137918000,1
1,are the,yes,302071,yes/no,302071001,1
2,is this a,yes,362365,yes/no,362365002,1
3,how many,2,274853,number,274853000,1
4,does this,no,299682,yes/no,299682003,1
...,...,...,...,...,...,...
44371,none of the above,yes,84390,yes/no,84390007,1
44372,what,teens,77481,other,77481004,3
44373,what is,sandwich,563727,other,563727025,2
44374,what color are the,red and white,541208,other,541208002,3
44375,what is the color of the,blue,399276,other,399276006,1