For now, it only serves to sample smaller dataset for easier inference+training (only proof of concept)

We already downsampled the Annotation dataset for $5%$, $10%$ and $1%$. We just need to propagate it to the questions.

In [51]:
import pandas as pd
import json

In [52]:
pct = 1

name_file = "annotations_sample_"+ str(pct)+ "pct" + ".json"

In [53]:
annotation_path = "v2_Annotations_Val/" + name_file

In [54]:
question_base_path = "v2_Questions_Val/questions.json"

In [55]:
with open(annotation_path, "r", encoding="utf-8") as f:
    annotation_json = json.load(f)

In [56]:
annotation_pd = pd.DataFrame(annotation_json)

In [57]:
question_id_tokeep = set(annotation_pd["question_id"].tolist())

In [58]:
with open(question_base_path, "r", encoding="utf-8") as f:
    question_json = json.load(f)

In [59]:
question_pd = pd.DataFrame(question_json["questions"])

In [60]:
questions_tokeep_pd = question_pd[question_pd["question_id"].isin(question_id_tokeep)]

In [61]:
questions_tokeep_pd.describe()

            image_id   question_id
count    2144.000000  2.144000e+03
mean   290894.202892  2.908942e+08
std    167750.115121  1.677501e+08
min      1063.000000  1.063002e+06
25%    142529.000000  1.425290e+08
50%    294347.500000  2.943475e+08
75%    435339.750000  4.353398e+08
max    581560.000000  5.815600e+08

CHANGER PATH HERE

In [62]:
save_path = "v2_Questions_Val/questions_sample_" + str(pct) + "pct" + ".json"

questions_tokeep_pd.to_json(save_path, orient="records")

In [63]:
annotation_pd

,question_type,multiple_choice_answer,image_id,answer_type,question_id
0,are,no,170072,yes/no,170072001
1,is the,no,504415,yes/no,504415000
2,are there any,no,469877,yes/no,469877003
3,what is,visor,264853,other,264853000
4,are the,no,223751,yes/no,223751002
...,...,...,...,...,...
2139,what,white and black,135673,other,135673009
2140,is the,no,76351,yes/no,76351007
2141,what kind of,chicken,473774,other,473774003
2142,what are the,train,26802,other,26802001
2143,what color is the,yellow,361992,other,361992000